.posts {
    background-color: 'white';
    color: "blue";
    font-size: 12;
    border: none
}

.input {
    border: none;
    width: 23%;
}

.card {
    border: 1px solid #ccc;
}

.app__headerImage {
    object-fit: contain;
}
